<div class="card h-100" *ngIf="poster">

    <div *ngIf="fileObjectUrl">
      <model-viewer camera-orbit="25deg 55deg 25m"
                    [src]="fileObjectUrl" poster="{{poster.thumbnailImageUrl}}" ar ar-scale="fixed" ar-modes="webxr scene-viewer quick-look" camera-controls alt="A product">
        <button slot="ar-button" style="background-color: unset; border-radius: 4px; border: none; position: absolute; bottom: 16px; right: 16px; ">
          <p class="card-text">👋 Hier drücken um das Poster virtuell im eigenen Zimmer zu testen</p>
        </button>

        <div style="color: goldenrod; margin-left: 130px; margin-top: 120px; font-size: large; text-align: left;" id="painting-info" >
          <p class="card-text">"{{poster.details}}"</p>
          <p class="card-text">{{poster.country}}</p>
          <p class="card-text">{{poster.lengthMm/10}} x {{poster.widthMm/10}} cm</p>
          <p class="card-text" ><small class="text-muted">ID: {{poster.id}}</small></p>
        </div>

        <button slot="hotspot-button" data-position="-6 -5 1" data-normal="-0.73 0.05 0.69" style="background-color: transparent; border: none;">
          <div style="color: goldenrod; margin-left: 30px; margin-top: 20px; font-size: large; display: none;" id="hotspot-info">
            <p class="card-text">"{{poster.details}}"</p>
            <p class="card-text">{{poster.country}}</p>
            <p class="card-text">{{poster.lengthMm/10}} x {{poster.widthMm/10}} cm</p>
            <p class="card-text" ><small class="text-muted">ID: {{poster.id}}</small></p>
          </div>
        </button>
      </model-viewer>
      <button type="button" class="btn btn-outline-danger float-right" style="margin-right: 30px" (click)="back()">Zurück</button>
    </div>

</div>
